@font-face {
  font-family: 'LXGWWenKaiScreen';
  font-style: normal;
  font-weight: 400;
  src: url(//github.com/fez7yoe/My-Fonts-File/raw/main/%E9%9C%9E%E9%B9%9C%E6%96%87%E6%A5%B7%E5%B1%8F%E5%B9%95%E9%98%85%E8%AF%BB%E7%89%88%40LXGWWenKaiScreen/1.245%402022-09-27/LXGWWenKaiScreen.eot);
  src: url(//github.com/fez7yoe/My-Fonts-File/raw/main/%E9%9C%9E%E9%B9%9C%E6%96%87%E6%A5%B7%E5%B1%8F%E5%B9%95%E9%98%85%E8%AF%BB%E7%89%88%40LXGWWenKaiScreen/1.245%402022-09-27/LXGWWenKaiScreen.eot?#iefix) format('embedded-opentype'),
       url(//github.com/fez7yoe/My-Fonts-File/raw/main/%E9%9C%9E%E9%B9%9C%E6%96%87%E6%A5%B7%E5%B1%8F%E5%B9%95%E9%98%85%E8%AF%BB%E7%89%88%40LXGWWenKaiScreen/1.245%402022-09-27/LXGWWenKaiScreen.woff2) format('woff2'),
       url(//github.com/fez7yoe/My-Fonts-File/raw/main/%E9%9C%9E%E9%B9%9C%E6%96%87%E6%A5%B7%E5%B1%8F%E5%B9%95%E9%98%85%E8%AF%BB%E7%89%88%40LXGWWenKaiScreen/1.245%402022-09-27/LXGWWenKaiScreen.woff) format('woff'),
       url(//github.com/fez7yoe/My-Fonts-File/raw/main/%E9%9C%9E%E9%B9%9C%E6%96%87%E6%A5%B7%E5%B1%8F%E5%B9%95%E9%98%85%E8%AF%BB%E7%89%88%40LXGWWenKaiScreen/1.245%402022-09-27/LXGWWenKaiScreen.ttf) format('truetype');
}